[build]
  command = "npm run build"
  publish = ".output/public"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/server"
  status = 200

[build.environment]
  NODE_VERSION = "22"

[functions]
  node_bundler = "esbuild"
  directory = ".netlify/functions"
